


.all_mina_Banner{

    @apply  w-full lg:min-h-screen h-screen
}

.text_part .heading h1{

    @apply text-[#000] font-Bricolage font-semibold 

     
    text-[15px]
    md:text-[]
    lg:text-[80px]
    leading-[112%]

    w-[100px]
    md:w-[50px]
    lg:w-[605px]


    pt-[80px]
    lg:pt-[180px]
}

.text_part p{

    @apply text-[#000] font-Abeezz font-normal

    text-[8px]
    md:text-[]
    lg:text-[26px]

    w-[110px]
    md:w-[]
    lg:w-[450px]

    mb-[10px]
    mt-[10px]
    md:mt-[]
    lg:mt-[50px]
    lg:mb-[40px]
}

.text_part .Click{

    @apply 
    
    w-[20px]
    md:w-[]
    lg:w-[55px]


}


.text_part .Clic{

    @apply 
    
    w-[20px]
    md:w-[]
    lg:w-[50px]

}

.buttons_bati{

    @apply flex lg:gap-[15px] gap-[6px]
}

.buttons_bati button img{

    @apply lg:shadow-[0px_0px_6px_5px_rgba(0,_0,_0,_0.1)]



   

    hover:shadow-none  
    rounded-full hover:scale-[1.1] duration-150
}



.animation_part .cercel_div{

    @apply rounded-full

    w-[200px]
    h-[200px]
    md:w-[]
    lg:w-[2100px]
    lg:h-[2100px]


    bottom-[500px] right-[-50px]

    lg:bottom-[-1650px] lg:right-[-1300px]

    xl:bottom-[-1600px] xl:right-[-1000px]
}


.cercel_div{

    @apply absolute  transition-all duration-[1s]
}

.cercel_div .bati img{

    @apply 

    w-[60px]
    md:w-[]
    lg:w-[340px]

    absolute

   
}


.cercel_div .bati_1 img{

    @apply 

    top-[-28px]  left-[64px]

    lg:top-[15px]    lg:left-[300px]

    xl:top-[-15px]    xl:left-[400px]
}

.cercel_div .bati_2 img{

    @apply 


    top-[60px]  left-[-24px]

    lg:left-[-150px]    lg:top-[870px]

    xl:left-[-133px]    xl:top-[768px]
    
}


.cercel_div .bati_3 img{

    @apply 

    bottom-[-24px]  left-[71px]
  
    lg:bottom-[-150px]    lg:left-[950px]

    xl:bottom-[-161px]    xl:left-[880px]
}


.cercel_div .bati_4 img{

    @apply 


    top-[66px]  right-[-26px]

    lg:right-[-150px]    lg:top-[924px]
    xl:right-[-152px]    xl:top-[1037px]
}